<?php
$this->headTitle('Список домов под снос на '.$Street->getTitle().', пятиэтажки под снос в районе по программе реновации 2017');
$this->headMeta()->appendName('description', 'Список пятиэтажек и девятиэтажек под снос на '.$Street->getTitle().' по программе реновации Москвы в 2017 году.');

$this->mainMenu()->setActiveItemId('streets');


$bread = ['KartaSnosa.ru'=>$this->url('home')];

if($this->Street->getIdRegion() instanceof \Application\Entity\Region){
    $bread[$this->Street->getIdRegion()->getIdDistrict()->getTitle()]   =   $this->url('district',['url'=>$this->Street->getIdRegion()->getIdDistrict()->getUrl()]);
    $bread[$this->Street->getIdRegion()->getTitle()]     =   $this->url('region',['url'=>$this->Street->getIdRegion()->getUrl()]);
}
$bread[$this->Street->getTitle()]   = $this->url('streets');


$this->pageBreadcrumbs()->setItems($bread);
?>

<h1>
    Снос пятиэтажек на <?= $this->escapeHtml($this->Street->getTitle()); ?> по программе реновации
</h1>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Дома попадающие под снос (<b><?=number_format(count($this->HousesDestroy)); ?></b>)</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group row street-list">
                    <?php foreach($this->HousesDestroy as $house): ?>
                        <li class="list-group-item col-xs-6 col-md-4">
                            <a href="<?=$this->url('house', ['url'=>$house->getUrl()]); ?>">
                                <?=$this->escapeHtml($house->getAddressFull()); ?>
                            </a>
                        </li>
                    <?php endforeach; ?>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Дома не попадающие под снос (<b><?=number_format(count($this->HousesNoDestroy)); ?></b>)</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group row street-list">
                    <?php foreach($this->HousesNoDestroy as $house): ?>
                        <li class="list-group-item col-xs-6 col-md-4">
                            <a href="<?=$this->url('house', ['url'=>$house->getUrl()]); ?>">
                                <?=$this->escapeHtml($house->getAddressFull()); ?>
                            </a>
                        </li>
                    <?php endforeach; ?>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p>
            В программу реновации Москвы в 2017-м году попало <?=number_format($this->count_of_houses_ren,0,'.',' ');?> домов из <?=number_format($this->count_of_houses,0,'.',' ');?> в списке домов на <?=$Street->getTitle()?>.
            Под снос попало <?=number_format($this->count_of_houses_5floor,0,'.',' ');?> пятиэтажек и <?=number_format($this->count_of_houses_no5floor,0,'.',' ');?> домов другой этажности с <?=$Street->getTitle()?>.
        </p>
    </div>
</div>
