<?php
$this->headTitle('Районы');

$this->mainMenu()->setActiveItemId('regions');

$this->pageBreadcrumbs()->setItems([
    'KartaSnosa.ru'=>$this->url('home'),
    'Округи'=>$this->url('district'),
    'Районы' => $this->url('regions')
]);
?>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Округи/Районы</h3>
            </div>
            <div class="panel-body">

                <?php
                $i=0;
                foreach ($this->Districts as $district): ?>
                    <? if($i%4==00){?>
                        <div class="row">
                    <?}?>
                    <div class="col-md-3">
                        <a href="<?= $this->url('district', ['url' => $district->getUrl()]); ?>">
                            <?= $this->escapeHtml($district->getTitle()); ?>
                        </a>

                        <ul>
                            <?php foreach ($district->getRegions() as $region): ?>
                                <li>
                                    <a href="<?= $this->url('region', ['url' => $region->getUrl()]); ?>">
                                        <?= $this->escapeHtml($region->getTitle()); ?>
                                    </a>
                                </li>
                            <?php endforeach; ?>
                        </ul>
                    </div>
                            <? if($i%4==3){?>
                            </div>
                            <?}?>
                    <? $i++;?>
                <?php endforeach; ?>
                <?if($i%4!=3){?></div><?}?>
            </div>
        </div>
</div>
