<?php
$this->headTitle('Список домов под снос в '.$Region->getTitle().', пятиэтажки под снос в районе '.$Region->getTitle().' по программе реновации 2017');
$this->headMeta()->appendName('description', 'Список пятиэтажек и девятиэтажек под снос в '.$Region->getTitle().' по программе реновации Москвы в 2017 году.');

$this->mainMenu()->setActiveItemId('regions');

$this->pageBreadcrumbs()->setItems([
            'KartaSnosa.ru'=>$this->url('home'),
//          'Округ'=>$this->url('district'),
            $Region->getIdDistrict()->getTitle() => $this->url('district',['url'=>$Region->getIdDistrict()->getUrl()]),
            $Region->getTitle() => $this->url('region',['url'=>$Region->getUrl()])
            ]);
?>

<h1>
    Снос пятиэтажек в районе <?= $this->escapeHtml($Region->getTitle()); ?> по программе реновации
</h1>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Улицы (<b><?=count($this->Streets); ?></b>)</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group row street-list">
                    <?php foreach($this->Streets as $street): ?>
                        <li class="list-group-item col-xs-12 col-md-12">
                            <a href="<?= $this->url('street', ['url'=>$street->getUrl()]); ?>">
                                <?= $this->escapeHtml($street->getTitle()); ?>
                            </a>
                        </li>
                    <?php endforeach; ?>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Дома попадающие под снос (<b><?=number_format(count($this->HousesDestroy)); ?></b>)</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group row street-list">
                    <?php foreach($this->HousesDestroy as $house): ?>
                        <li class="list-group-item col-xs-6 col-md-4">
                            <a href="<?=$this->url('house', ['url'=>$house->getUrl()]); ?>">
                                <?=$this->escapeHtml($house->getAddressFull()); ?>
                            </a>
                        </li>
                    <?php endforeach; ?>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p>
            В программу реновации района <?=$Region->getTitle();?> в 2017-м году попало <?=number_format($this->count_of_houses_ren,0,'.',' ');?> домов из <?=number_format($this->count_of_houses,0,'.',' ');?> в списке. 
            Под снос попало <?=number_format($this->count_of_houses_5floor,0,'.',' ');?> пятиэтажек и <?=number_format($this->count_of_houses_no5floor,0,'.',' ');?> домов другой этажности из <?=$Region->getTitle();?>.
        </p>
    </div>
</div>

