<?php
$this->headTitle('Программа реновации Москвы 2017 - все округа/дома/улицы/районы');
$this->headMeta()->appendName('description', 'Программа реновации Москвы 2017 - все округа/дома/улицы/районы с подробной информацией о статусе сноса каждого дома.');

$this->mainMenu()->setActiveItemId('districts');

$this->pageBreadcrumbs()->setItems([
    'KartaSnosa.ru'=>$this->url('home'),
    'Округи'=>$this->url('districts')
]);
?>
<h1>
    Программа реновации Москвы 2017 - все округа/дома/улицы/районы
</h1>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Округи/Районы</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                <?php foreach ($this->Districts as $district): ?>

                    <div class="col-md-3">
                        <a href="<?= $this->url('district', ['url' => $district->getUrl()]); ?>">
                            <?= $this->escapeHtml($district->getTitle()); ?>
                        </a>
                        <ul>
                            <?php foreach ($district->getRegions() as $region): ?>
                                <li>
                                    <a href="<?= $this->url('region', ['url' => $region->getUrl()]); ?>">

                                        <?= $this->escapeHtml($region->getTitle()); ?>
                                    </a>
                                </li>


                            <?php endforeach; ?>
                        </ul>
                    </div>
                <?php endforeach; ?>
            </div>
        </div>
    </div>
    
</div>