<?php
$this->headTitle('Список домов под снос в ' . $District->getTitleShort() . ', пятиэтажки под снос в ' . $District->getTitleShort() . ' по программе реновации 2017');
$this->headMeta()->appendName('description', 'Список пятиэтажек и девятиэтажек под снос в ' . $District->getTitleShort() . ' по программе реновации Москвы в 2017 году.');

$this->mainMenu()->setActiveItemId('districts');

$this->pageBreadcrumbs()->setItems([
    'KartaSnosa.ru' => $this->url('home'),
//            'Округ'=>$this->url('district'),
    $this->District->getTitle() => $this->url('district', ['url' => $District->getUrl()])
]);
?>
<h1>
    Снос пятиэтажек в <?= $this->escapeHtml($this->District->getTitleShort()); ?> по программе реновации
</h1>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Районы (<b><?= count($this->District->getRegions()); ?></b>)</h3>
            </div>
            <div class="panel-body">
                <?php foreach ($this->District->getRegions() as $region): ?>
                    <span>
                <a href="<?= $this->url('region', ['url' => $region->getUrl()]); ?>">

                    <?= $this->escapeHtml($region->getTitle()); ?>
                </a>
            </span><br/>


                <?php endforeach; ?>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Улицы (<b><?= count($this->Streets); ?></b>)</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group row street-list">
                    <?php foreach ($this->Streets as $street): ?>
                        <li class="list-group-item col-xs-6 col-md-4">
                            <a href="<?= $this->url('street', ['url' => $street->getUrl()]); ?>">
                                <?= $this->escapeHtml($street->getTitle()); ?>
                            </a>
                        </li>
                    <?php endforeach; ?>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p>
            В программу реновации по <?=$District->getTitleShort();?> в 2017-м году попало <?=number_format($this->count_of_houses_ren,0,'.',' ');?> домов из <?=number_format($this->count_of_houses,0,'.',' ');?> в списке. 
            Под снос попало <?=number_format($this->count_of_houses_5floor,0,'.',' ');?> пятиэтажек и <?=number_format($this->count_of_houses_no5floor,0,'.',' ');?> домов другой этажности.
        </p>
    </div>
</div>
