<?= $this->doctype() ?>

<html lang="en">
<head>
    <meta charset="utf-8">
    <?= $this->headTitle('KartaSnosa.ru')->setSeparator(' - ')->setAutoEscape(false) ?>

    <?= $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ?>

    <!-- Le styles -->
    <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'])
        ->prependStylesheet($this->basePath('css/style.css'))
        ->prependStylesheet($this->basePath('css/bootstrap-theme.min.css'))
        ->prependStylesheet($this->basePath('css/bootstrap.min.css'))
    ?>

    <!-- Scripts -->
    <?= $this->headScript()
        ->prependFile($this->basePath('js/bootstrap.min.js'))
        ->prependFile($this->basePath('js/jquery-2.2.4.min.js'))
    ?>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<!--    <script src="/js/object_manager.js" type="text/javascript"></script>-->
    <script src="/js/bootstrap3-typeahead.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var $input = $(".typeahead");
            <? $data = '';
            foreach ($this->streets as $s){
                $streetList[] = [
                    'id'=>$s->getIdStreet(),
                    'name'=>$s->getTitle()
                ];
            }
            ?>
            $input.typeahead({
                source: <?=json_encode($streetList);?>,
                autoSelect: true
            });
            $input.change(function () {
                var current = $input.typeahead("getActive");
                if (current) {
                    $.ajax('/house/jsonbystreet/' + current.id).done(function (data) {
                        if (data.length) {
                            $('.search-house-input').html(data);
                            $('.search-house-input').attr('disabled', false);
                        } else {
                            $('.search-house-input').html('');
                            $('.search-house-input').attr('disabled', true);
                        }
                    });

                    // Some item from your model is active!
                    if (current.name == $input.val()) {
                        // This means the exact match is found. Use toLowerCase() if you want case insensitive match.
                    } else {
                        // This means it is only a partial match, you can either add a new item
                        // or take the active if you don't want new items
                    }
                } else {
                    // Nothing is active so it is a new value (or maybe empty value)
                }
            });
            
            var $select = $('.search-house-input');
            var $searchButton = $('.search-button');

            $searchButton.click(function(){
                var houseVal=$select.val();
                if(houseVal!=null)  window.location.href = '/house/'+houseVal;
            });

            $('.mapswitch').click(function(){
                window.myMap.geoObjects.removeAll();
                $('.mapswitch').removeClass('active');
                if($(this).data('map') == 'all'){
                    window.myMap.geoObjects.add(objectManager);
                    window.myMap.geoObjects.add(objectManagerRen);
                }
                if($(this).data('map') == 'ren'){
                    window.myMap.geoObjects.add(objectManagerRen);
                }
                if($(this).data('map') == 'noren'){
                    window.myMap.geoObjects.add(objectManager);
                }
                $(this).addClass('active');
                window.myMap.setBounds(window.myMap.geoObjects.getBounds());
            });

        });
        ymaps.ready(init);
//        window.myMap;
        //var group = new ymaps.GeoObjectCollection();
        function init () {
            window.myMap= new ymaps.Map('map', {
                    center: [<?=$this->centerLat;?>,<?=$this->centerLng;?>],
                    zoom: <?=$this->centerZoom;?>,
                    controls: {}
                });

                objectManager = new ymaps.ObjectManager({
                    // Чтобы метки начали кластеризоваться, выставляем опцию.
                    clusterize: true,
                    // ObjectManager принимает те же опции, что и кластеризатор.
                    gridSize: 16,
                    clusterDisableClickZoom: true
                }),

                objectManagerRen = new ymaps.ObjectManager({
                    // Чтобы метки начали кластеризоваться, выставляем опцию.
                    clusterize: true,
                    // ObjectManager принимает те же опции, что и кластеризатор.
                    gridSize: 16,
                    clusterDisableClickZoom: true
                });

//            window.myMap.addControl(new RenControl());

//
//            firstButton = new ymaps.control.ToolBarRadioButton({
//                data: {                    content: "Все",                },
//                options: {                    class: "mapswitch btn btn-default active"                },
//                state: {    selected: true                },
//                click: function(){
//                    $(this).state.set('selected',true);
//                }
//            });
//
//            window.myMap.controls.add(firstButton, {float: 'right'});
//
//            renButton = new ymaps.control.Button({
//                data: {                    content: "Все",                },
//                options: {                    class: "mapswitch btn btn-default active"                },
//                state: {    selected: false                }
//            });
//
//            window.myMap.controls.add(renButton, {float: 'right'});



            var jUrl = "https://"+window.location.host+"/mapData/<?=$this->routeName;?>/<?=$this->routeUrl;?>";

            $.ajax({
                url: jUrl,
                // url: window.location.href
            }).done(function(data) {

                objectManager.add(data[0]);
                objectManager.objects.options.set('preset', 'islands#blueDotIcon');
                objectManager.clusters.options.set('preset', 'islands#blueClusterIcons');
//                window.myMap.geoObjects.add(objectManager);

                objectManagerRen.add(data[1]);
                objectManagerRen.objects.options.set('preset', 'islands#redDotIcon');
                objectManagerRen.clusters.options.set('preset', 'islands#redClusterIcons');
                window.myMap.geoObjects.add(objectManagerRen);



                <? if($this->controller!= 'Application\Controller\StreetController'&&$this->controller!= 'Application\Controller\HouseController'){ ?>
                window.myMap.setBounds(window.myMap.geoObjects.getBounds());
                <? } ?>

            });
        }
        function RenControl () {
            this.onAddToMap = function (map, controlPosition) {
                // Действия при добавлении элемента управления на карту
                this.container = ymaps.$('            <div class="btn-group" role="group" aria-label="Дома">' +
                    '<button type="button" data-map="all" class="mapswitch btn btn-default active">Все</button>' +
                    '<button type="button" data-map="ren" class="mapswitch btn btn-danger">Под снос</button>' +
                    '<button type="button" data-map="noren" class="mapswitch btn btn-primary">Не под снос</button>' +
                    '</div>');

                this.position = position || new ymaps.ControlPosition(ymaps.ControlPosition.TOP_RIGHT, new ymaps.Size(-10, -10));
                this.map = map;

                // Выставление необходимых CSS-свойств
                this.container.css({
                    position: "absolute",
                    zIndex: ymaps.ZIndex.CONTROL,
                    background: '#fff',
                    listStyle: 'none',
                    padding: '10px',
                    margin: 0
                });

                // Располагает элемент управления в верхнем правом углу карты
                this.position.apply(this.container);

                // Добавляет элемент управления на карту
                this.container.appendTo(this.map.getContainer());

            };

            this.onRemoveFromMap = function () {
                // Действия при удалении элемента управления с карты
                this.container.remove();
                this.container = this.map = null;
            };
        }

    </script>
</head>
<body>
<div class="container">
    <!--            <div class="row">-->
    <!--                 Page header -->
    <!--                <div class="col-md-4">-->
    <!--                    <div class="app-caption"><a class="navbar-brand" href="/"></a></div>-->
    <!--                </div>                -->
    <!--            </div>-->
    <div class="row">
        <div class="col-md-12">
            <!-- Navigation bar -->
            <?php
            // Initialize navbar items
            $this->mainMenu()->setItems([
                [
                    'id' => 'home',
                    'label' => 'KartaSnosa.ru',
                    'link' => $this->url('home')
                ],
                [
                    'id' => 'districts',
                    'label' => 'Округи',
                    'link' => $this->url('districts')
                ],
                [
                    'id' => 'regions',
                    'label' => 'Районы',
                    'link' => $this->url('regions')
                ],
                [
                    'id' => 'streets',
                    'label' => 'Улицы',
                    'link' => $this->url('streets')
                ],
                [
                    'id' => 'houses',
                    'label' => 'Дома',
                    'link' => $this->url('houses')
                ],
            ]);

            // Check if the activeMenuItemId passed to layout view model
            // and if so, use it for setting active navbar item.
            if (isset($activeMenuItemId)) {
                $this->mainMenu()->setActiveItemId($activeMenuItemId);
            }

            // Render the navbar
            echo $this->mainMenu()->render();
            ?>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <!-- Breadcrumbs -->
            <?= $this->pageBreadcrumbs()->render(); ?>
        </div>
        <?php
        if($this->controller!= 'Application\Controller\HouseController'){
        ?>
        <div class="col-md-3">
            <div class="btn-group btn-group-sm" role="group" aria-label="Дома">
                <button type="button" data-map="all" class="mapswitch btn btn-sm btn-default">Все</button>
                <button type="button" data-map="ren" class="mapswitch btn btn-sm btn-danger active">Под снос</button>
                <button type="button" data-map="noren" class="mapswitch btn btn-sm btn-primary">Не под снос</button>
            </div>
        </div>
        <?php } ?>
    </div>
</div>


<div id="map" style="height: 500px;"></div>

<div class="container">
<!--    <div class="row">-->
<!--        <div class="col-md-12">-->
            <!-- Page content placeholder -->
            <?= $this->content; ?>
<!--        </div>-->
<!--    </div>-->
    <hr>
    <footer>
        <p>&copy; 2016 - <?= date('Y') ?> KartaSnosa.ru.</p>
    </footer>
</div>
<?= $this->inlineScript() ?>
</body>
</html>
