<?php
$this->headTitle('Улицы');

$this->mainMenu()->setActiveItemId('houses');

$this->pageBreadcrumbs()->setItems([
    'KartaSnosa.ru'=>$this->url('home'),
    'Округи'=>$this->url('district'),
    'Районы' => $this->url('regions'),
    'Улицы' => $this->url('streets'),
    'Дома' => $this->url('houses'),
]);
?>
<div class="row">
    <div class="col-md-12">
<!--        <div class="panel panel-default">-->
<!--            <div class="panel panel-default">-->
<!--                <div class="panel-heading">-->
<!--                    <h3 class="panel-title">Улицы (<b>--><?//=count($this->Streets); ?><!--</b>)</h3>-->
<!--                </div>-->
<!--                <div class="panel-body">-->
<!--                    <ul class="list-group row street-list">-->
<!--                        --><?php //foreach($this->Houses as $street): ?>
<!--                            <li class="list-group-item col-xs-6 col-md-3">-->
<!--                                <a href="--><?//= $this->url('street', ['url'=>$street->getUrl()]); ?><!--">-->
<!--                                    --><?//= $this->escapeHtml($street->getTitle()); ?>
<!--                                </a>-->
<!--                            </li>-->
<!--                        --><?php //endforeach; ?>
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
</div>