<?php

$this->headTitle('Программа реновации: '.$this->House->getAddressfull().' - попал ли дом под снос?');
$this->headMeta()->appendName('description', 'Вся информация о планах сноса дома по адресу '.$this->House->getAddressfull());


$this->mainMenu()->setActiveItemId('houses');

$this->pageBreadcrumbs()->setItems([
    'KartaSnosa.ru'=>$this->url('home'),
    $this->Street->getIdRegion()->getIdDistrict()->getTitle()=>$this->url('district',['url'=>$this->Street->getIdRegion()->getIdDistrict()->getUrl()]),
    $this->Street->getIdRegion()->getTitle() => $this->url('region',['url'=>$this->Street->getIdRegion()->getUrl()]),
    $this->Street->getTitle() => $this->url('street',['url'=>$this->Street->getUrl()]),
    $this->House->getTitle() => $this->url('house',['url'=>$this->House->getUrl()]),
//    $this->House->getAddressfull() => $this->url('house',['id'=>$this->House->getIdHouse()])
]);
?>
<h1>
    Дом по адресу <?=$this->House->getAddressfull()?> - статус сноса
</h1>
<div><span class="<?=($House->getRen()!=1)? 'green':'red';?>">Дом <?=($House->getRen()!=1)? 'не ':'';?>попал в программу реновации Москвы по данным на 1 июня 2017 года.<br /><br /></span></div>
<?php
if(!empty($this->House->getLat()) && !empty($this->House->getLng())){?>

    <?
}
?>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Дом</h3>
            </div>
            <div class="panel-body">
                <div>
                    Полный адрес:
                    <?=$this->House->getAddressfull()?>
                </div>
                <? if(!empty($House->getPostcode())){?>
                <div>
                    Индекс:
                    <?=$this->House->getPostcode()?>
                </div>
                <? }?>
                <? if(!empty($House->getType())){?>
                <div>
                    Тип:
                    <?=$this->House->getType()?>
                </div>
                <? }?>
                <? if(!empty($House->getYear())){?>
                <div>
                    Год постройки:
                    <?=$this->House->getYear()?>
                </div>
                <? }?>
                <? if(!empty($House->getFloors())){?>
                <div>
                    Этажность:
                    <?=$this->House->getFloors()?>
                </div>
                <? }?>
            </div>
        </div>
    </div>
</div>
