<?php
$this->headTitle('Списки домов под снос в Москве по программе реновации 2017');
$this->headMeta()->appendName('description', 'Список домов, попавших под программу сноса ветхого жилья в Москве. Программа реновации 2017 - предварительные итоги и статусы.');
$this->mainMenu()->setActiveItemId('home');
?>
<h1>Списки домов под снос в Москве по программе реновации</h1>
<div class="row">

    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Округи/Районы</h3>
            </div>
            <div class="panel-body">
                <?php foreach($this->Districts as $district): ?>

                    <div>
                        <a href="<?= $this->url('district', ['url'=>$district->getUrl()]); ?>">
                            <?= $this->escapeHtml($district->getTitle()); ?>
                        </a>
                        <ul>
                            <?php foreach($district->getRegions() as $region): ?>
                                <li>
                                    <a href="<?= $this->url('region', ['url'=>$region->getUrl()]); ?>">

                                        <?= $this->escapeHtml($region->getTitle()); ?>
                                    </a>
                                </li>


                            <?php endforeach; ?>
                        </ul>
                    </div>
                <?php endforeach; ?>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Улицы</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group row street-list">
                    <?php foreach($this->Streets as $street): ?>
                        <li class="list-group-item col-xs-6 col-md-3">
                            <a href="<?= $this->url('street', ['url'=>$street->getUrl()]); ?>">
                                <?= $this->escapeHtml($street->getTitle()); ?>
                            </a>
                        </li>
                    <?php endforeach; ?>
                </ul>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p>
            На нашем сайте вы найдете полный список домов Москвы, попавших под программу реновации с актуальными статусами переселения. База данных содержит информацию о <?=number_format($this->count_of_houses,0,'.',' ');?> домах , из которых <?=number_format($this->count_of_houses_ren,0,'.',' ');?> попало в первую очередь реновации (т.е. в список домов под снос).
        </p>
    </div>
</div>